<div class="combi1"></div>
<div class="content">
    <h1 style="font-family: 'Allura', cursive;">Restaurant La Casa</h1>
    <p>You can order get here the best Food online</p>
    <button class="btn btn-success mx-3" routerLink="/products">Our Menu</button>
    <button class="btn btn-success mx-3">Book a Table
</button>
</div>
<div class="pb-4">
    <div>
        <h1 style="font-family: 'Allura', cursive; text-align: center; margin-top: 70px; text-shadow: 1px 3px 2px black;">Restaurant La Casa</h1>
    </div>
    <div class="container" style="margin-top: 70px;">
        <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
                <img src="/assets/menuImg1.png" style="width: 25vw; height: 40vh; box-shadow: 2px 2px 15px black;" alt="...">
            </div>
            <div class="container ms-3">
                <h2 style="text-align: center;">We have the best Bar</h2>
                This gourmet restaurant focuses specifically on Austrian cuisine, but they aren't sticklers for tradition. The chefs are constantly on the lookout for new ways to revolutionise Viennese dishes by experimenting with them in alternative and exciting ways.
                On the menu you'll find dishes that you ordinarily wouldn't associate with Austria, such as smoked eel with baby carrots, kale and lemon, and catfish with coconut and lemon balm. It is located in the Stadtpark, one of the city's most picturesque
                parks.
            </div>
        </div>
    </div>
</div>